@use "./fonts.scss" as *;

button,
label {
  cursor: pointer;
}

button, img {
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
}

body {
  font-family: "Josefin Sans" !important;
}