$mainBlue: #4499D9;
$mainPurple: #7367BE;
$mainRed: #EB8382;
$mainWhite: #FFFFFF;
$mainPeach: #FFD9C3CC;

$backgroundPeach: #FFE6D7;

$accessoryPeach: #FCD8CB;

$planPeach: #FBDACF;

$darkPurple: #826F8C;
$darkblue: #446381;
$darkPeach: #FAC7B5;

$buttonGradient: linear-gradient(90deg, $mainBlue, $mainPurple);

$z-100: 100;
$z-200: 200;
$z-300: 300;

$transition: 0.4s;