.button {
  padding: rem(13) rem(36);
  background-image: $buttonGradient;
  color: $mainWhite;
  outline: rem(1) solid transparent;
  outline-offset: rem(2);
  border-radius: rem(25);
  transition: $transition;

  &:focus-visible {
    outline-color: $mainRed;
  }

  &:active {
    opacity: 0.8;
    transform: translateY(rem(1));
  }
}
