.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile() {
    flex-direction: column-reverse;
    row-gap: rem(35);
  }
}

.reverse {
  @extend .content;
  flex-direction: row-reverse;
}