.header {
  position: absolute;
  top: 0; left: 0;
  padding-block: rem(10);
  width: 100%;
  background-color: transparent;

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &Logo {
    @include tablet() {
      width: rem(200);
    }
  }
}
