.burgerBlock {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, rem(490));
  height: 100vh;
  background-color: $mainWhite;
  transform: translateX(100vw);
  transition: 0.4s;

  &List {
    flex-direction: column;
    row-gap: rem(53);
    margin-bottom: rem(55);
    font-size: rem(24);
  }

  &Active {
    transform: translateX(0)
  }
}