.footer {
  padding-block: rem(25);
  background-color: $mainPeach;
  border-top: rem(1) solid $darkPurple;

  &Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;


    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30);
    }
    
    @include mobile() {
      grid-template-columns: 1fr;
    }
  }

  &Logo {
    @include mobile() {
      grid-column: 1/-1;
      margin-inline: auto;
    }
  }

  &Secure {
    color: $darkPurple;
    text-align: center;

    @include tablet() {
      grid-column: 1/-1;
    }

    @include mobile() {
      grid-row: 3;
    }
  }
}